<%!-- <.section class="bg-base-100 pt-4">
    <:title>
      <h3 class="mb-4 text-xl">My <span class="text-accent">portfolio</span> includes...</h3>
    </:title>
    <div class="flex flex-col gap-4">
      <a
        href="https://play.google.com/store/apps/details?id=it.moto.annunci"
        class="block bg-base-200 rounded-xl shadow hover:shadow-lg transition"
      >
        <h3 class="font-semibold text-lg mb-2">Moto.it</h3>
        <p class="text-base-content/80">
          I'm shipping the mobile app for the most popular Italian motorcycle website.
        </p>
      </a>
      <a
        href="https://www.linkedin.com/company/my-social-collection/"
        class="block bg-base-100 rounded-xl shadow hover:shadow-lg transition"
      >
        <h3 class="font-semibold text-lg mb-2">My Social Collection</h3>
        <p class="text-base-content/80">
          A mobile-first platform for collectors, so that they can share their passion with the world.
        </p>
      </a>
      <a
        href="https://hr-assistant.it/human-resources-management-software/"
        class="block bg-base-100 rounded-xl shadow hover:shadow-lg transition"
      >
        <h3 class="font-semibold text-lg mb-2">Hr Assistant</h3>
        <p class="text-base-content/80">
          A web app to help HR departments manage their employees' data.
        </p>
      </a>
    </div>
  </.section>

  <.section class="bg-base-300">
    <:title>
      <.h2>
        <span class="text-primary">Community</span> Contributions
      </.h2>
    </:title>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <.card>
        <:title>
          <a
            class="flex flex-row justify-between"
            href="https://riverpod.dev"
            target="_blank"
          >
            <span> Riverpod </span>
            <.icon name="hero-link" />
          </a>
        </:title>
        <p>
          I'm proudly <span class="">sponsoring</span>
          and contributing on the ecosystem of this popular state management solution for Flutter.
        </p>
      </.card>
      <.card>
        <:title>
          <a
            class="flex flex-row justify-between"
            href="https://github.com/lucavenir"
            target="_blank"
          >
            <span> Open Source Projects </span>
            <.icon name="hero-link" />
          </a>
        </:title>
        <p>
          I'm actively <span class="">maintaining</span> a few open source projects, and I love
          submitting PRs to others whenever I can.
        </p>
      </.card>
      <.card>
        <:title>
          <.link
            class="flex flex-row justify-between"
            to={~p"/talks"}
            target="_blank"
          >
            <span> Talks </span>
            <.icon name="hero-link" />
          </.link>
        </:title>
        <p>
          If I've got something to say, I go and share it with the community.
        </p>
      </.card>
    </div>
  </.section> --%>
