<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>404 · off-piste · venir (dot) dev</title>
    <link rel="stylesheet" href="/assets/css/app.css" />
    <link rel="icon" href="/favicon-light.ico" media="(prefers-color-scheme: light)" />
    <link rel="icon" href="/favicon-dark.ico" media="(prefers-color-scheme: dark)" />
    <script defer type="text/javascript" src="/assets/js/app.js">
    </script>
  </head>
  <body class="min-h-screen flex flex-col items-stretch justify-between bg-base-100 text-base-content">
    <main class="flex flex-col items-stretch justify-center px-4 py-12 text-center">
      <span class="text-8xl sm:text-9xl font-extrabold text-error select-none">404</span>
      <h1 class="mt-4 text-xl sm:text-4xl font-bold"><em>oof</em>, you're off-piste!</h1>
      <h2 class="text-md sm:text-2xl">the path you were following led to a cliff</h2>
      <p class="mt-2 sm:mt-8 text-sm sm:text-md sm:text-lg text-base-content/70">
        (the page you're looking for doesn't exist - yet)
      </p>
      <a href="/" class="mt-4 sm:mt-16 underline">back to the hut</a>
    </main>

    <footer class="w-full py-8 px-4 sm:px-8 md:px-16 lg:px-32 text-center text-base-content/60 mt-auto">
      <p>&copy; 2025 Luca Venir. All rights reserved.</p>
    </footer>
  </body>
</html>
